body {
  width: 1440px;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  gap: 24px;
  padding: 100px 156px;
}

.gallery-image {
  width: 360px;
  height: 300px;
  object-fit: cover;
  display: block;
}
